body {
	margin: 0;
	padding: 0;
	background-color: #808080;
}

* {
	font-family: arial;
}

.hero-section {
	height: 100vh;
	display: flex;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/logo.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	justify-content: center;
	align-items: center;
}

.login-container {
	width: 23%;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 5px 5px 10px #000;
}

.header-container {
	padding: 20px;
	background-color: #333;
	box-shadow: 0px 5px 20px #cccccc;
	position: relative;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	color: #fff;
}

.header-container span {
	font-size: 18px;
	font-weight: bold;

}

.header-footer {
	padding: 20px;
	background-color: #f2f2f2;
	position: relative;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.login-form {
	padding: 60px 30px;
	background-color: #ffffff;
}

.login-form input[type=text], input[type=password] {
	padding: 13px 16px;
	border-radius: 5px;
	border: 1px solid #cccccc;
	background-color: #f2f2f2;
	display: block;
	width:  100%;
	box-sizing: border-box;
	margin: 5px 0 5px 0;
}

.login-btn {
	padding: 14px 40px;
	background-color: #000000;
	border: none;
	border-radius: 5px;
	color: #ffffff;
	font-weight: bold;
	font-size: 16px;
	transition: .3s;
	cursor: pointer;
	width: 100%;
	margin: 20px 0 0 0;
}

.login-btn:hover {
	background-color: #4d4d4d;
}

.login-form .error input {
	border: 3px solid #e74c3c;
}

.login-form .success input {
	border-color: #2ecc71;
}

.login-form small {
	color: #e74c3c;
	display: block;
	margin: 0px 0px 10px 0px;
	display: none;
}

.login-form .error small {
	display: block;
}

.error {
	background-color: #F2DEDE;
	color: #A94442;
	width: 90%;
	border-radius: 5px;
	font-size: 18px;
	padding: 10px;
	text-align: center;
}

@media only screen and (max-width: 1400px) {
	.login-container {
		width: 50%;
	}
}

@media only screen and (max-width: 1000px) {
	.login-container {
		width: 50%;
	}
}

@media only screen and (max-device-width: 700px) {
	.login-container {
		width: 60%;
	}
}