/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/

/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/

/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/
@import url(animate.min.css);
@import url(normalize.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(slick.css);
@import url(jquery-ui.css);
@import url(nice-select.css)

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/
* {
	box-sizing: border-box !important;
	transition: ease all 0.5s;
}

html {
	scroll-behavior: smooth;
}

body {
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	line-height: 1.80857;
	font-weight: normal;
	overflow-x: hidden;
}

a {
	color: #1f1f1f;
	text-decoration: none !important;
	outline: none !important;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: 0;
	font-weight: normal;
	position: relative;
	padding: 0 0 10px 0;
	font-weight: normal;
	line-height: normal;
	margin: 0
}

h1 {
	font-size: 24px
}

h2 {
	font-size: 22px
}

h3 {
	font-size: 18px
}

h4 {
	font-size: 16px
}

h5 {
	font-size: 14px
}

h6 {
	font-size: 13px
}

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: #212121;
	text-decoration: none !important;
	opacity: 1;
}

button:focus {
	outline: none;
}

ul,
li,
ol {
	margin: 0px;
	padding: 0px;
}

p {
	margin: 20px;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
}

a {
	color: #ffffff;
	text-decoration: none;
	outline: none !important;
}

.required_sign {
	color: #ff0000;
	font-weight: bold;
	transform: scale(2.1);
}

.input-group-text {
	border: none;
}

.no-display {
	display: none;
}

.header_main {
	width: 100%;
	height: auto;
	padding-bottom: 20px;
	padding-top: 10px;
}

.logo1 {
	width: 50%;
	float: left;
	margin: 10px;
}

.logo2 {
	width: 50%;
	float: right;
	margin: 10px;
}

.header {
	width: 100%;
	width: 100%;
	/*float: left;*/
	background-color: #fff;
	box-shadow: 0px 0px 1px 0px;
}

.header_main {
	width: 100%;
	float: left;
	background-color: #222222;
	height: auto;
}

ul .nav-item .nav-link,
.header a {
	color: #222222 !important;
	margin-left: -12px;
}

#nav-last {
	margin-top: -6px;
}

.dropdown-item img {
	max-width: 30px;
	max-height: 30px;
	height: 30px;
	width: 30px;
	margin-right: 8px;
	margin-bottom: 5px;
	object-position: center center;
	object-fit: cover;
	border-radius: 50%;
	padding: 3px;
	box-shadow: 1px 1px 5px rgba(34, 35, 58, 0.3);
}

.header_main .logo1 img {
	width: 260px;
}

.header_main .logo2 img {
	width: 55px;
	margin-left: 180px;
}

.header_main h1 {
	text-align: center;
	color: white;
	font-weight: bold;
	letter-spacing: 3px;
}

.header_pages {
	width: 100%;
	height: auto;
	padding-bottom: 20px;
	padding-top: 10px;
}

.header_pages {
	width: 100%;
	/*float: left;*/
	background-color: #222222;
	height: auto;
}

.header_pages .logo1 img {
	width: 260px;
}

.header_pages .logo2 img {
	width: 55px;
	margin-left: 180px;
}

.banner-main {
	width: 100%;
	float: left;
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/ucu_banner.png);
	height: auto;
	padding-top: 50px;
	padding-bottom: 250px;
	background-size: cover;
}

.banner-main span {
	font-size: 30px;
	font-weight: bolder;
}

.last {
	padding-top: 6px;
	padding-left: 210px;
	letter-spacing: 2px;
	font-size: 14px;
}

.titlepage-h1 {
	width: 100%;
	float: left;
	margin: 0 auto;
	text-align: center;
}

.bnner_title {
	font-size: 46pt;
	color: #ffffff;
	padding-top: 70px;
	font-family: 'Raleway', sans-serif;
}

.long_text {
	font-size: 14pt;
	color: #ffffff;
	padding-bottom: 30px;
}

.btn_main {
	width: 40%;
	display: block;
	margin: 0 auto;
	text-align: center;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 60px;
	padding-left: 0;
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.5px;
}

.navbar-nav.lg-auto {
	width: 100%;
	margin: 0;
	display: block;
}

.navbar-nav.lg-auto li {
	float: left;
}

.navbar-nav.lg-auto li.last {
	float: right;
}

.navbar-light .navbar-nav .active>.nav-link {
	color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
}

.bg-light {
	background-color: none;
}

.services_main {
	width: 100%;
	float: left;
	background-color: white;
	height: auto;
	padding-bottom: 30px;
	padding-top: 30px;
}

.creative_taital {
	width: 100%;
	float: left;
	background-color: #222222;
	height: auto;
	padding-bottom: 30px;
	padding-top: 30px;
	box-shadow: 0px 0px 10px 0px;
	color: #8c8c8c;
	margin-bottom: 50px;
	border-radius: 10px;
}

.creative_taital p {
	text-align: center;
	color: white;
}

.creative_text {
	font-size: 22pt;
	text-align: center;
	border-bottom: 1px solid #000;
	width: 46%;
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
	color: white;
}

.section_service_2 {
	width: 100%;
	float: left;
}

.service_text {
	color: #222222;
	letter-spacing: 1px;
	font-size: 22pt;
	text-align: center;
	border-bottom: 1px solid #000;
	width: 22%;
	margin: 0 auto;
	font-weight: bold;
}

.service_main {
	width: 100%;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

.programs_offered_1 {
	width: 100%;
	float: right;
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 15px;
	height: auto;
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.programs_offered_2 {
	width: 100%;
	float: left;
	background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../images/library.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 15px;
	height: auto;
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.programs_offered_1:hover,
.programs_offered_2:hover {
	transform: translateY(-5px);
	cursor: pointer;
}

.programs_offered_1 i,
.programs_offered_1 h1,
.programs_offered_1 p,
.programs_offered_2 i,
.programs_offered_2 h1,
.programs_offered_2 p {
	background: transparent;
	color: white;
}

.programs_offered_1 .btn_main,
.programs_offered_2 .btn_main {
	float: left;
}

.year_theme {
	width: 100%;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

.ucu_news {
	width: 100%;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #e8e8e8;
	padding: 20px;
}

.ucu_news .yt_embed {
	width: 80%;
}

.ucu_news span {
	color: #8c8c8c;
	font-size: 14px;
	font-style: normal;
	margin-left: 10px;
}

.ucu_news h3 {
	font-weight: 700;
}

.ucu_news p {
	margin: 0;
}

.ucu_news a {
	color: #1844ab;
	font-style: italic;
}

.card-list img {
	width: 30%;
	right: 0;
	left: 0;
}

.card-list h4 a {
	font-style: normal;
	color: #1844ab;
	font-size: 12px;
	font-weight: 600;
	text-align: left;
}

.card-list p {
	font-size: 10px;
	margin-top: -10px;
	color: #222222;
}

.card-list {
	padding: 0px 50px 0px 50px;
}

.card-list .row {
	padding: 20px;
}

.card-list .btn_main {
	float: left;
}

.written_text {
	width: 100%;
	float: left;
	background-color: #8c8c8c;
	border-radius: 15px;
	height: auto;
	padding: 20px;
}

.written_text {
	width: 100%;
	float: left;
	color: black;
	margin-top: 20px;
	font-weight: 500;
}

.written_text iframe {
	width: 100%;
	border-radius: 10px;
	height: 20%;
}

.yt_embed iframe {
	width: 100%;
	border-radius: 10px;
}

.blog-slider {
	width: 100%;
	position: relative;
	max-width: 800px;
	margin: auto;
	background: #fff;
	box-shadow: 0px 10px 8px rgba(34, 35, 58, 0.2);
	padding: 25px;
	border-radius: 25px;
	height: 400px;
	margin-bottom: 35px;
}

.blog-slider__item {
	display: flex;
	align-items: center;
}

.blog-slider__item.swiper-slide-active .blog-slider__img img {
	opacity: 1;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > * {
	opacity: 1;
	transform: none;
}

.blog-slider__img {
	width: 300px;
	flex-shrink: 0;
	height: 300px;
	border-radius: 25px;
	transform: translateX(-80px);
	overflow: hidden;
}


.blog-slider__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: left;
	display: block;
	opacity: 1;
	border-radius: 20px;
}

.blog-slider__content {
	padding-right: 25px;
}

.blog-slider__content > * {
	opacity: 1;
	transform: translateY(0px);
}

.blog-slider__code {
	color: #7b7992;
	margin-bottom: 15px;
	display: block;
}

.blog-slider__title {
	font-size: 24px;
	color: #0d0925;
	margin-bottom: 20px;
}

.blog-slider__text {
	color: #4e4a67;
	margin-bottom: 30px;
	line-height: 1.5em;

	height: 150px;
	overflow: hidden;
}

.blog-slider__button {
	display: inline-flex;
	/*background-image: linear-gradient(147deg, #8c8c8c 0%, #8c8c8c 74%);*/
	background-color: #808080;
	padding: 15px 35px;
	border-radius: 50px;
	color: #fff;
	text-decoration: none;
	justify-content: center;
	text-align: center;
	letter-spacing: 1px;
}

.blog-slider__button:hover {
	color: #fff;
	background-color: #333;
}

.vh-100-wrapper {
	max-height: 100vh;
	padding: 20px;
	width: 100%;
	overflow-y: auto;
}

.evaluation_section {
	width: 100%;
	float: left;
	background-color: black;
	height: auto;
	padding: 20px;
	font-weight: 500;
}

.evaluation_section h1 {
	color: #ffffff;
	width: 100%;
	float: left;
	font-size: 20px;
}

.evaluation_section p {
	color: #ffffff;
	width: 100%;
	float: left;
	margin: 0px;
}

.evaluation_btn {
	float: right;
	margin-top: 8px;
}

.evaluation_btn button {
	font-size: 14px;
}

.email-text {
	width: 100%;
	float: left;
	color: #3ac3f0;
}

.email-text a {
	text-decoration: none;
	color: #333;
}

.email-text a:hover {
	color: #000;
}

.copyright_text a:hover,
.copyright_text a:focus {
	color: #fff;
}

button.main_bt {
	background: #8c8c8c;
	border: none;
	color: #fff;
	width: 150px;
	height: 50px;
	border-radius: 5px;
	font-size: 22px;
}

.email-bt {
	background: white;
	border: none;
	color: #222222;
	width: 100%;
	height: 55px;
	font-size: 22px;
	padding: 20px;
}

.massage-bt {
	background: white;
	border: none;
	color: #222222;
	width: 100%;
	height: 145px;
	font-size: 22px;
	padding: 20px;
}

.button.navbar-toggler.collapsed {
	background: #fff;
}

.navbar-toggler:not(:disabled):not(.disabled) {
	cursor: pointer;
	background-color: #fff;
	padding: 10px 20px;
}

.about_main {
	width: 100%;
	float: left;
	margin-top: 130px;
}

.section_service_main {
	width: 100%;
	float: left;
	padding-top: 30px;
	padding-bottom: 30px;
}

.contact_main {
	width: 100%;
	float: left;
	padding-top: 30px;
}

.-_main {
	width: 100%;
	float: left;
}

.blog_text {
	width: 100%;
	float: left;
	font-size: 34px;
	color: #000;
	text-align: center;
	font-weight: bold;
	padding-top: 40px;
	padding-bottom: 40px;
}

.blog_section_2 {
	width: 100%;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

.section_1 {
	width: 100%;
	float: left;
	background-color: #fff;
	box-shadow: 0px 0px 10px 0px;
}

.date-bt {
	background: #072833;
	border: none;
	color: #fff;
	width: 110px;
	height: 35px;
	font-size: 12px;
	margin-top: -35px;
	font-weight: 500;
	float: left;
	max-width: 100%;
	clear: both;
	position: relative;
}

.about_page .creative_taital {
	width: 100%;
	float: left;
	background-color: #ffffff;
	height: auto;
	padding-bottom: 30px;
	padding-top: 30px;
	color: #e7e7e7;
	margin-top: -100px;
	margin-bottom: 50px;
	box-shadow: none;
}

/** arrow css **/
#main_slider a.carousel-control-prev {
	position: absolute;
	bottom: 10px;
	top: inherit;
}

#main_slider a.carousel-control-prev {
	position: absolute;
	top: 40% !important;
	width: 70px;
	height: 70px;
	border-radius: 35px;
}

#main_slider .carousel-control-prev,
#main_slider .carousel-control-next {
	width: 62px;
	height: 60px;
	opacity: 1;
	font-size: 30px;
	color: white;
}

#main_slider .carousel-control-prev,
#main_slider .carousel-control-next {
	width: 62px;
	height: 60px;
	opacity: 1;
	font-size: 30px;
	color: white;
	border-radius: 35px;
	top: 40% !important;
}

#main_slider .carousel-control-next:hover,
#main_slider .carousel-control-next:focus {
	transform: translateX(10px);
}

#main_slider .carousel-control-prev:hover,
#main_slider .carousel-control-prev:focus {
	transform: translateX(-10px);
}

/************ News & Events Area ********************/

/************ News Area *****************************/
.banner_news_events {
	width: 100%;
	float: left;
	background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../images/banner.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 250px;
	padding-top: 20px;
	background-size: cover;
}

.img_post_holder {
	height: auto; width: 300px;
	overflow: hidden;
}

.titlepage-h1-news_events {
	width: 100%;
	float: left;
	margin: 0 auto;
	text-align: center;
}

.bnner_title_news_events {
	font-size: 40px;
	color: #ffffff;
	padding-top: 70px;
	font-family: 'Raleway', sans-serif;
}

.title_news {
	width: 100%;
	float: left;
	padding: 20px;
}

.title_news_text {
	color: #222222;
	letter-spacing: 1px;
	float: left;
	font-size: 20pt;
	margin: 0 auto;
	font-weight: 500;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	border-bottom-left-radius: 15px;
	padding: 10px;
	padding-right: 50px;
}

.featured_text {
	color: #4e4a67;
	height: 100px;
	overflow: hidden;
}

.container-card-news-events {
	margin-top: -50px;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.card-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 30px;
}

.card {
	position: relative;
	background: white;
	max-width: 300px;
	width: 300px;
	height: auto;
	margin: 25px;
	box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
}

.card:hover {
	transform: translateY(-5px);
}

.card-image {
	max-height: 200px;
}

.card-image img {
	max-width: 100%;
	width: 100%;
	object-position: left;
	object-fit: cover;
	height: 150px;
}

.card-info {
	position: relative;
	color: #222;
	padding: 10px 20px 20px;
}

.card-info h3 {
	font-size: 1.em;
	font-weight: 800;
}

.card-info p {
	font-size: 1em;
	margin-top: -10px;
	margin-bottom: 5px;
}

.pagination {
	text-align: center;
	margin: 30px 30px 60px;
	user-select: none;
}

.pagination li {
	display: inline-block;
	margin: 5px;
}

.pagination > li > a {
	color: #222222;
	text-decoration: none;
	font-size: 1.2em;
	line-height: 25px;
}

.previous-page,
.next-page {
	color: #2222;
	width: 80px;
	border-radius: 50px;
}

.current-page,
.dots {
	background: #ccc;
	width: 45px;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
	color: #8c8c8c;
	background-color: #eee;
	border-color: #ddd;
}

.pagination > .active > a {
	background-color: #8c8c8c !Important;
	border: solid 1px #8c8c8c !important;
	color: white;
}

.pagination > .active > a:hover {
	background-color: #c9c9c9 !Important;
	border: solid 1px #c9c9c9 !important;
	color: white;
}

.pagination > .disable > a {
	background-color: #c9c9c9 !Important;
	border: solid 1px #ddd !important;
	color: white;
	cursor: default;
}

.pagination > .disable > a:hover {
	background-color: #c9c9c9 !Important;
	border: solid 1px #ddd !important;
	color: white;
	cursor: default;
}

/************ Events Area *****************************/
.title_events {
	width: 100%;
	float: left;
	padding: 20px;
}

.title_events_text {
	color: #222222;
	letter-spacing: 1px;
	float: left;
	font-size: 20pt;
	margin: 0 auto;
	font-weight: 500;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	border-bottom-left-radius: 15px;
	padding: 10px;
	padding-right: 50px;
}

.events-section {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	overflow-x: scroll;
}

.events-section ul,
.events-section ol,
.events-section li {
	list-style: none;
}

.events-card-box {
	width: 300px;
	height: 400px;
	background-color: #8c8c8c;
	border-radius: 10px;
	box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.5);
	margin: 15px;
	cursor: pointer;
}

.events-card-box:hover {
	transform: translateY(-2px);
}

.events-card-box img {
	width: 100%;
	max-height: 200px;
	height: 200px;
	object-fit: cover;
	object-position: left;
	border-radius: 10px 10px 0px 0px;
	background-color: rgba(0, 0, 0, 0.9);
}

.events-card-title {
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	margin-top: 15px;
	margin-bottom: -10px;
	color: white;
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow: hidden;
	max-height: 3.6em;
	line-height: 1.6em;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.events-card-description {
	float: left;
	color: white;
	font-weight: 300;
	margin-top: -10px;
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow: hidden;
	max-height: 5.5em;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.events-card-date {
	float: right;
	color: white;
	font-weight: 100;
	margin-top: -10px;
}

/************ About Area ********************/
.mission_vision_section {
	width: 100%;
	box-shadow: 0px 0px 10px 0px;
	color: white;
	border-radius: 10px;
	text-align: center;
}

.mission_vision_cont {
	width: 100%;
	height: 280px;
	background-color: white;
	padding-bottom: 30px;
	padding-top: 30px;
	padding-right: 50px;
	padding-left: 50px;
	box-shadow: 0px 0px 1px 0px;
	color: #222222;
	margin: 30px;
	border-radius: 10px;
	text-align: left;
}

.mission_vision_cont p {
	text-align: center;
}

.obj_section {
	margin-bottom: 50px;
}

.goals_obj_cont {
	width: 100%;
	float: left;
	background-color: white;
	padding-bottom: 30px;
	padding-top: 30px;
	padding-right: 50px;
	padding-left: 50px;
	box-shadow: 0px 0px 1px 0px;
	color: #222222;
	margin: 20px;
	margin-bottom: 0;
	border-radius: 10px;
	text-align: left;
}

.goals_obj_cont_title {
	font-size: 22pt;
	text-align: center;
	border-bottom: 1px solid #000;
	width: 46%;
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
	color: #222222;
}

.goals_obj_cont_img {
	display: block;
	margin-top: 25%;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.goals_obj_cont ol {
	margin: 20px;
	list-style-type: upper-roman;
}

.history_content {
	width: 100%;
	background-color: white;
	box-shadow: 0px 0px 1px 0px;
	color: #222222;
	margin: 10px;
	margin-bottom: 50px;
	border-radius: 10px;
	text-align: left;
	padding-bottom: 30px;
	padding-top: 30px;
	padding-right: 50px;
	padding-left: 50px;
}

.history_content h1 {
	font-size: 22pt;
	text-align: center;
	border-bottom: 1px solid #000;
	width: 46%;
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
	color: #222222;
}
/************ Grades View Area ********************/
.year_title_view {
	font-size: 18px;
	text-align: center;
	margin: 15px;
	font-weight: 700;
}

.grades-content-view {
	width: 100%;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	overflow-x: auto;
}

.grades-content-view th{
	text-align: center;
	font-size: 12px;
}

.grades-content-view td {
	font-size: 12px;
}

.grades-content-view button {
	margin: 15px;
	float: right;
}
/************ Grades Area ********************/
.grades-section {
	display: none;
}

.grades-section .container {
	overflow-x: auto;
}

.grades-section table {
	margin-top: 15px;
	text-align: center;
	width: 100%;
}

.grades-section th, .grades-section td{
  border: 1px solid black;
  font-size: 6px;
  color: black;
  border-spacing: 0;
  border-collapse: collapse;
}

.grades-section th {
	font-family: Montserrat;
	font-weight: bolder;
}

.grades-section td {
	font-family: Calibri;
}

.grades-section-below h2 {
	margin-top: 20px;
	font-size: 7px;
	font-weight: bolder;
	font-family: Montserrat;
}

.grades-section-below ul, .grades-section-below li {
	list-style: none;
	font-size: 7px;
	margin-left: 35px;
	font-family: Montserrat;
}

.grades-section-below ul {
	margin-top: -6px;
}

.grades-section-below table {
	margin-left: 70px;
	margin-top: -5px;
}

.grades-section-below table, .grades-section-below td, .grades-section-below tr {
	text-align: left;
	border: 0;
}

.grades-section-below td {
	width: 800px !important;
}

.course_des {
	text-align: left;
}

.grades-content button {
	margin: 15px;
	float: right;
}

.pdf_title {
	text-align: center;
	margin-top: 20px;
}

.pdf_title h2 {
	font-size: 10px;
	font-weight: bolder;
	font-family: Montserrat;
	margin-bottom: -7px;
}

.pdf_title p {
	font-weight: bolder;
	font-family: Calibri;
	font-size: 10px;
	margin-top: -15px;
	margin-bottom: -5px;
}

.pdf_title h3 {
	font-weight: 500;
	font-size: 18px;
}

.year_title {
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: bolder;
	font-size: 6px;
	margin-bottom: -20px;
	margin-top: 20px;
	text-align: center;
	font-family: Montserrat;
}

.bocc {
	display: flex;
	align-items: center;
	align-content: center;
	margin-top: -10px;
}

.bocc h4 {
	margin-top: 10px;
	margin-left: 10px;
	font-size: 7px;
	font-weight: bolder;
	font-family: Montserrat;
}

.bocc_color {
	width: 45px;
	height: 13px;
	background-color: gray;
}

.lack {
	display: flex;
	align-items: center;
	align-content: center;
	margin-top: -40px;
}

.lack h4 {
	margin-top: 10px;
	margin-left: 10px;
	font-size: 7px;
	font-weight: bolder;
	font-family: Montserrat;
}

.lack_color {
	width: 45px;
	height: 13px;
	background-color: red;
}

.signatures_item {
	display: flex;
}

.signatures_item h2 {
	text-align: right;
	width: 60px;
}

.signatures_item_contents {
	margin-top: 20px;
	margin-left: 20px;
}

.signatures_item_contents h3 {
	font-size: 10px;
	font-weight: bolder;
	font-family: serif;
}

.signatures_item_contents h1 {
	font-size: 10px;
	font-weight: 500;
	font-family: serif;
	font-style: italic;
	margin-top: -10px;
}

/********** View Item Area ******************/

.item_container {
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
	margin-top: 50px;
	box-shadow: 0px 0px 5px 0px #cccccc;
	padding: 50px;
	border-radius: 5px;
	/*float: left;*/
}

.item_container img{
	max-width: 100%;
	width: 100%;
	height: auto;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px;
}

.item_container p, .item_container h1{
	text-align: left;
}

.item_container h1{
	font-weight: 700;
	letter-spacing: 1px;
}

.item_container p{
	max-height: 400px;
	overflow-y: auto;
}


.more-news-container {
	margin-left: 50px;
	margin-right: 50px;
}

.more-news-container h3{
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: -20px;
}

.more-news-slider {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	overflow-x: auto;
	padding-bottom: 20px;
}

.more-news-slider ul,
.more-news-slider ol,
.more-news-slider li {
	list-style: none;
}

.more-news-box {
	width: 150px;
	height: 200px;
	background-color: #8c8c8c;
	padding: 5px;
	border-radius: 10px;
	box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.5);
	margin: 15px;
	cursor: pointer;
}

.more-news-box:hover {
	transform: translateY(-2px);
}

.more-news-box img {
	width: 100%;
	max-height: 80px;
	height: 200px;
	object-fit: cover;
	object-position: left;
	border-radius: 10px 10px 0px 0px;
	background-color: rgba(0, 0, 0, 0.9);
}

.more-news-title {
	font-size: 14px;
	font-weight: 600;
	text-align: left;
	margin-top: 15px;
	color: white;
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow: hidden;
	max-height: 3.6em;
	line-height: 1.6em;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.more-news-date {
	float: right;
	color: white;
	font-size: 10px;
	font-weight: 100;
	margin-top: -10px;
}

.error_msg {
	background-color: #F2DEDE;
	color: #A94442;
	border-radius: 5px;
	font-size: 18px;
	padding: 10px 12px;
	text-align: center;
}

.success_msg {
	background-color: #71c174;
	color: #006600;
	border-radius: 5px;
	font-size: 18px;
	padding: 10px 12px;
	text-align: center;
}
/************ Faculty Area ********************/


.container_faculty {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 100px 0;
	background-color: white;
	margin-top: -20px;
}

.timeline {
	width: 80%;
	height: auto;
	max-width: 800px;
	margin: 0 auto;
	position: relative;
}

.timeline ul {
	list-style: none;
}

.timeline ul li {
	padding: 20px;
	background-color: #222222;
	color: white;
	border-radius: 10px;
	margin-bottom: 20px;
}

.timeline ul li:last-child {
	margin-bottom: 0;
}

.timeline-content h1 {
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
}


.timeline-content p {
	font-size: 16px;
	line-height: 30px;
	font-weight: 300;
}

.timeline-content .date {
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 10px;
	letter-spacing: 2px;
	color: #222222;
}

.timeline-content img{
	width: 100%;
	margin-top: -70px;
}

/************ Blocking Area ********************/

.blocking_content {
	box-shadow: 1px 0px 10px rgba(34, 35, 58, 0.2);
	margin: 70px 20px 40px 20px;
	padding: 20px;
	float: left;
	width: 97%;
	border-radius: 5px;
	overflow-x: auto;
}

.availability {
	float: right;
}

.availability p {
	margin-top: -10px;
}


/************ Footer Area ********************/

.footer {
	width: 100%;
	background-color: #222222;
	height: auto;
}

.footer ul,
.footer ol,
.footer li {
	list-style: none;
	width: 90%;
}

.footer {
	width: 100%;
	float: left;
}

.footer_container {
	width: 100%;
	margin: 20px;
	display: block;
	color: white;
}

.map_icon {
	width: 100%;
	float: right;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: left;
}

.map_icon img {
	width: 60px;
	margin-right: 10px;
	border-radius: 15px;
}

.map_icon i {
	width: 20px;
	color: white;
	padding-right: 20px;
}

.map_icon p {
	margin: auto;
	margin-top: 20px;
	color: white;
}

.map_icon h2 {
	border-bottom: 1px solid #8c8c8c;
	margin-bottom: 15px;
}

.map_icon h4 {
	margin-top: 25px;
	color: white;
}

.map_icon h5 {
	font-size: 12px;
	color: white;
}

.map_icon li a {
	color: white;
}

.copyright {
	width: 100%;
	float: left;
	background-color: black;
	padding-top: 10px;
	padding-bottom: 10px;
}

.copyright_text {
	width: 100%;
	color: #fbfdfd;
	text-align: center;
	font-size: 14px;
	margin: 0px;
}

/************ Profile Area ********************/
.profile_title_container {
	width: 100%;
	float: left;
	margin: 30px;
}

.profile_title {
	color: #222222;
	letter-spacing: 1px;
	font-size: 22pt;
	text-align: center;
	border-bottom: 1px solid #000;
	width: 22%;
	margin: 0 auto;	
	font-weight: bold;
}

.profile_left_section {
	box-shadow: 1px 0px 10px rgba(34, 35, 58, 0.2);
	margin: auto;
	float: right;
	text-align: left;
	margin: 20px;
	padding: 20px;
	border-radius: 5px;
	width: 500px;
}

.profile_left_section img {
	max-width: 150px;
	max-height: 150px;
	height: 150px;
	width: 150px;
	margin: 20px;
	border-radius: 50%;
	object-position: center;
	object-fit: cover;
	box-shadow: 5px 7px 15px rgba(34, 35, 58, 0.3);
}

.profile_left_section td {
	font-size: 12px;
}

.custom_upload {
	/*font-size: 10px;*/
	background: white;
	border-radius: 5px;
	/*width: 200px;*/
	box-shadow: 1px 2px 5px rgba(34, 35, 58, 0.2);
	outline: none;
	margin-bottom: 15px;
}

::-webkit-file-upload-button {
	color: white;
	background: #8c8c8c;
	padding: 5px;
	border: none;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	transition: all ease-out 200ms;
}

::-webkit-file-upload-button:hover {
	background: #222222;
}

.upload_status_red {
	color: red;
	margin-left: 100px;
	float: right;
}

.upload_status_green {
	color: green;
	margin-left: 100px;
	float: right;
}

.profile_right_section{
	margin-bottom: 20px;
	float: left;
	text-align: center;
	padding: 20px;
	text-align: left;
}

.profile_right_section::-webkit-scrollbar {
	height: auto;
  	width: 8px;
  	border: 1px solid #8c8c8c;
  	border-radius: 10px;
}

.profile_right_section::-webkit-scrollbar-thumb:vertical{
    background: #222222;
    border-radius: 10px;
}

.profile_right_section span {
	font-weight: bold;
}


/********* Admission Area **************/
.admission_conts {
	box-shadow: 1px 0px 10px rgba(34, 35, 58, 0.2);
	margin: auto;
	text-align: center;
	margin: 20px;
	padding: 20px;
	border-radius: 25px;
	height: 370px;
}

.admission_conts button {
	width: 120px;
	height: 30px;
	background: #46c263;
	border: none;
	border-radius: 5px;
	margin-top: 45px;
	cursor: pointer;
	float: left;
}

.admission_conts button:hover {
	background: #39db5f;
}

.admission_conts button a {
	color: white;
}

.admission_conts h2 {
	font-size: 16px;
	font-weight: 700;
}

.admission_conts ul, .admission_conts li {
	list-style: none;
	text-align: left;
}

/*form error*/
#upd_student_cred_form, .error input {
	border: 3px solid #e74c3c;
}

#upd_student_cred_form, .success input {
	border-color: #2ecc71;
}

#upd_student_cred_form, .error textarea {
	border: 3px solid #e74c3c;
}

#upd_student_cred_form, .success textarea {
	border-color: #2ecc71;
}

#upd_student_cred_form, small {
	color: #e74c3c;
	display: block;
	display: none;
}

#upd_student_cred_form, .error small {
	display: block;
}

/********* Registration Area **************/
.reg_body {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/banner.png);
	object-fit: cover;
	object-position: center;
}

.reg_content {
	margin: auto;
	box-shadow: 1px 0px 10px rgba(34, 35, 58, 0.2);
	/*padding: 20px;*/
	padding: 50px;
	border-radius: 15px;
	/*width: 75%;*/
	width: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	background: white;
}

.reg_content img {
	width: 75px;
	margin-bottom: -30px;
}

.reg_content h2 {
	text-align: center;
	font-weight: 700;
	margin: 20px;
}

.reg_content h3 {
	font-weight: 600;
}

/* modal or pop up */
.modal, .delete-modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	padding-top: 200px;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}
.modalBox {
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	margin: auto;
	background-color: #ffffff;
	width: 28%;
	-webkit-animation-name: slideIn;
	-webkit-animation-duration: 0.4s;
	animation-name: slideIn;
	animation-duration: 0.4s;
	border: 1px solid #808080;
}
.modalBox p {
	margin: 0;
}
.close {
	color: #fff;
	float: right;
	font-size: 28px;
	font-weight: bold;
	/*background-color: #fff;*/
	padding: 0px 10px;
	top: 0;
	position: absolute;
	right: 0;
}
.close:hover,
.close:focus {
	color: #fff;
	background-color: red;
	text-decoration: none;
	cursor: pointer;
}
.modal_header {
	padding: 20px;
	background-color: #333;
	color: #fff;
}

.modal_header h4 {
	color: #ffffff;
	margin: 0;
	font-size: 18px;
}

.modal_body {
	padding: 30px;
}

/* modal animation */
@-webkit-keyframes slideIn {
	from {top: -300px; opacity: 0}
	to {top: 0; opacity: 1}
}
@keyframes slideIn {
	from {top: -300px; opacity: 0}
	to {top: 0; opacity: 1}
}

/* action button theme */
.greenBtn {
	padding: 7px 10px;
	background-color: #4caf50;
	color: #fff;
	font-weight: 300;
	border: none;
	border-radius: 5px;
	font-size: 15px;
}

.greenBtn:hover {
	background-color: #3e8e41;
}

.redBtn {
	padding: 7px 10px;
	background-color: #ff0000;
	color: #fff;
	font-weight: 300;
	border: none;
	border-radius: 5px;
	font-size: 15px;
}

.redBtn:hover {
	background-color: #990000;
}

/********* Health Declaration Area **************/
.health_df_cont {
	font-family: arial;
	width: 60%;
	border: 2px solid black;
	float: left;
	margin: 2% 20%;
}

.health_df_header {
	align-items: center;
	align-content: center;
	display: flex;
  	justify-content: space-evenly;
  	padding: 20px;
  	text-align: center;
}

.health_df_header img {
	width: 70px;
	height: 70px;
}

.health_df_header h1 {
	font-size: 18px;
	font-weight: 700;
}

.health_df_header h2 {
	font-size: 16px;
}

.health_df_header h3 {
	font-size: 14px;
	font-weight: 600;
}

.health_df_cont p {
	font-size: 12px;
}

.health_df_input {
	display: flex;
	padding-right: 5%;
	align-items: center;
}

.health_df_input input {
	border: 0;
  	outline: 0;
  	background: transparent;
  	border-bottom: 1px solid black;
  	width: 100%;
  	margin-bottom: 2px;
  	margin-left: 2px;
  	font-size: 12px;
}

.health_df_input label {
	white-space: nowrap;
	font-size: 12px;
	margin: 0;
}

.health_df_student_info {
	padding: 20px;
}

.health_df_student_info p {
	margin: 10px 0;
}

.health_df_input_purpose {
	padding: 0 30px;
}

.health_df_input_purpose p {
	padding: 0;
}

.health_df_input_purpose label, .health_df_input_purpose input {
	font-size: 12px;
	margin: 0;
}


.purpose_input {
	display: flex;
	padding-right: 5%;
	align-items: center;
}

.purpose_input input {
	border: 0;
  	outline: 0;
  	background: transparent;
  	border-bottom: 1px solid black;
  	font-size: 12px;
}

.purpose_input label {
	white-space: nowrap;
	font-size: 12px;
	margin: 0 10px;
}

.temp_cont h1 {
	font-size: 18px;
	font-weight: 700;
}

.temp_cont p {
	 font-size: 12px;
	 margin: 0;
}

.temp_box {
	width: 100px;
	height: 100px;
	border: 2px solid black;
}

.illness_section{
	margin: 5px;
}

.illness_section table, .illness_section td, .illness_section tr {
	border: 1px solid black;
	border-collapse: collapse;
}

.illness_section table tr td {
	padding: 5px 10px;
}

.illness_section table tr td p {
	width: 250px;
}

.illness_section table tr td input {
	border: 0;
  	outline: 0;
  	background: transparent;
  	border-bottom: 1px solid black;
  	margin-bottom: 2px;
  	margin-left: 2px;
  	font-size: 12px;
}

.health_df_confirmation {
	font-size: 14px;
	text-align: center;
}

.custom_breakline {
	width: 250px;
	border-bottom: 2px solid black;
	text-align: center;
	margin: auto;
}

.health_df_confirmation h4 {
	font-size: 14px;
	text-align: center;
	margin: 5px;
}



/********* Commitment of Undertaking Area **************/
.com_undertake_cont {
	font-family: arial;
	width: 60%;
	border: 2px solid black;
	float: left;
	margin: 2% 20%;
}

.com_undertake_header {
	align-items: center;
	align-content: center;
	display: flex;
  	justify-content: space-evenly;
  	padding: 20px;
  	text-align: center;
}

.com_undertake_header img {
	width: 70px;
	height: 70px;
	margin-top: -40px;
}

.com_undertake_header h1 {
	font-size: 18px;
	font-weight: 700;
}

.com_undertake_header h2 {
	font-size: 16px;
	font-weight: 700;
	margin-top: 20px;
}

.com_undertake_header h3 {
	font-size: 10px;
	font-weight: 800;
}

.com_undertake_cont p {
	font-size: 12px;
}

.dos_section {
	margin-left: 2%;
	width: 95%;
}

.dos_section h1 {
	font-size: 14px;
	font-weight: 700;
}

.dos_section ol {
	margin-left: 15px;
}

.dos_section li {
	margin: 0;
	line-height: 20px;
	font-size: 12px;
}

.donts_section {
	margin-left: 2%;
	width: 95%;
}

.donts_section h1 {
	margin-top: 20px;
	font-size: 14px;
	font-weight: 700;
}

.donts_section ol {
	margin-left: 15px;
}

.donts_section li {
	margin: 0;
	line-height: 20px;
	font-size: 12px;
}

.donts_section table {
	margin-left: 5%;
}

.donts_section td {
	width: 300px;
	margin-right: 20px;
}

.com_undertake_confirmation {
	margin-top: 50px;
	float: right;
	font-size: 14px;
	text-align: center;
}

.com_undertake_confirmation h4 {
	font-size: 14px;
	text-align: center;
	margin: 5px;
}

/********* Certificate of Concent Area **************/
.cert_consent_cont {
	width: 60%;
	border: 2px solid black;
	float: left;
	margin: 2% 20%;
}

.cert_consent_header {
	align-items: center;
	align-content: center;
	display: flex;
  	justify-content: space-evenly;
  	padding: 20px;
  	text-align: center;
}

.cert_consent_header img {
	width: 70px;
	height: 70px;
	margin-top: -40px;
}

.cert_consent_header h1 {
	font-size: 18px;
	font-weight: 700;
}

.cert_consent_header h2 {
	font-size: 16px;
	font-weight: 700;
	margin-top: 20px;
}

.cert_consent_header h3 {
	font-size: 10px;
	font-weight: 800;
}

.cert_consent_cont p {
	font-size: 14px;
}

.cert_content_section {
	margin-left: 2%;
	width: 95%;
}

.cert_content_section h1 {
	font-size: 14px;
	font-weight: 700;
}

.cert_content_section ol {
	margin-left: 15px;
}

.cert_content_section li {
	margin: 0;
	line-height: 20px;
	font-size: 14px;
	margin-bottom: 10px;
}

.com_undertake_confirmation {
	margin-top: 50px;
	float: right;
	font-size: 14px;
	text-align: center;
}

.com_undertake_confirmation h4 {
	font-size: 14px;
	text-align: center;
	margin: 5px;
}

.cert_content_section label{
	margin: 0;
}

/* profile table */
.table {
    margin-bottom: 0;
}
.table-bordered {
    border: 1px solid #ebedf2;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}
table {
    border-collapse: collapse;
}
*, *::before, *::after {
    box-sizing: border-box;
}
user agent stylesheet
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;

}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.table th, .table td {
    vertical-align: middle;
    font-size: 0.875rem;
    line-height: 1;
}
.table-bordered th, .table-bordered td {
    border: 1px solid #ebedf2;
}
.table th, .table td {
    padding: 0.9375rem;
    vertical-align: top;
    border-top: 1px solid #ebedf2;
}

th {
    text-align: inherit;
    
}
td {
    display: table-cell;
    vertical-align: inherit;
    
}
*, *::before, *::after {
    box-sizing: border-box;
}
user agent stylesheet
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}
