.section-container {
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
}

.table-cite {
	border-collapse: collapse;
	width: 100%;
	overflow-x: auto;
}

.table-cite th {
	padding: 15px 10px;
	color: #fff;
	background-color: #333;
	position: sticky;
	top: 0;
	text-align: left;
}
/*tr:nth-child(even) {background-color: #f2f2f2;}*/

.table-cite td {
	padding: 15px 10px;
	border-bottom: 1px solid #d9d9d9;
}

.description-container {
	line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    /*margin-bottom: 20px;*/
    width: 600px;
}

.editbtn {
	padding: 7px 10px;
	background-color: #4eb151;
	color: #fff;
	font-weight: 300;
	border: none;
	border-radius: 5px;
	font-size: 15px;
}

.editbtn:hover {
	background-color: #2f6a31;
}

.viewbtn {
	padding: 7px 10px;
	background-color: #ffa500;
	color: #fff;
	font-weight: 300;
	border: none;
	border-radius: 5px;
	font-size: 15px;
}

.viewbtn:hover {
	background-color: #996300;
}

.delbtn {
	padding: 7px 10px;
	background-color: #ff0000;
	color: #fff;
	font-weight: 300;
	border: none;
	border-radius: 5px;
	font-size: 15px;
}

.delbtn:hover {
	background-color: #990000;
}

.main-button {
	padding: 10px 30px;
	background-color: #000000;
	color: #fff;
	font-size: 15px;
	font-weight: 300;
	border: none;
	border-radius: 5px;
}

.main-button:hover {
	background-color: #4d4d4d;
	cursor: pointer;
}

.btn-transparent {
	padding: 10px 30px;
	background-color: transparent;
	color: #808080;
	font-size: 15px;
	font-weight: bold;
	border: none;
	border-radius: 5px;
}

.btn-transparent:hover {
	color: #000;
	cursor: pointer;
}

.main-button-green {
	padding: 10px 30px;
	background-color: #4eb151;
	color: #fff;
	font-size: 15px;
	font-weight: 300;
	border: none;
	border-radius: 5px;
}

.main-button-green:hover {
	background-color: #2f6a31;
	cursor: pointer;
}

.search {
	padding: 10px;
	display: inline-block;
	border-radius: 5px;
	width: 50%;
	border: 1px solid #cccccc;
	margin: 0px 0px 0px 5px;
}

.table-wrapper {
	overflow-y: scroll;
    max-height: 90vh;
}

.table-wrapper::-webkit-scrollbar {
	width: 10px;
}

.table-wrapper::-webkit-scrollbar-track {
	background: #ffffff; 
}
 
.table-wrapper::-webkit-scrollbar-thumb {
	background: #888; 
}

.table-wrapper::-webkit-scrollbar-thumb:hover {
	background: #555; 
}

.ip-text, .text-area, .ip-datetime, .ip-file {
	padding: 12px;
	display: block;
	border-radius: 5px;
	border: 1px solid #cccccc;
	margin: 5px 0 5px 0;
	width: 80%;
}

.error_msg {
	background-color: #F2DEDE;
	color: #A94442;
	width: 30%;
	border-radius: 5px;
	font-size: 18px;
	padding: 10px 12px;
	text-align: center;
}

.success_msg {
	background-color: #71c174;
	color: #006600;
	width: 30%;
	border-radius: 5px;
	font-size: 18px;
	padding: 10px 12px;
	text-align: center;
}

.image-container {
	height: 200px;
	width: 200px;
	margin: 0 0 20px 0;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.avatar-container {
	height: 100px;
	width: 100px;
	border-radius: 5px;
}

.display-avatar {
	height: 150px;
	width: 150px;
	overflow: hidden;
	border: 1px solid green;
}

form .error input {
	border: 3px solid #e74c3c;
}

form .success input {
	border-color: #2ecc71;
}

form .error textarea {
	border: 3px solid #e74c3c;
}

form .success textarea {
	border-color: #2ecc71;
}

form small {
	color: #e74c3c;
	display: block;
	display: none;
}

form .error small {
	display: block;
}

.modal, .delete-modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	padding-top: 200px;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}
.modalBox {
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	margin: auto;
	background-color: #ffffff;
	width: 28%;
	-webkit-animation-name: slideIn;
	-webkit-animation-duration: 0.4s;
	animation-name: slideIn;
	animation-duration: 0.4s;
	border: 1px solid #808080;
}
.close {
	color: #fff;
	float: right;
	font-size: 28px;
	font-weight: bold;
	/*background-color: #fff;*/
	padding: 0px 10px;
	top: 0;
	position: absolute;
	right: 0;
}
.close:hover,
.close:focus {
	color: #fff;
	background-color: red;
	text-decoration: none;
	cursor: pointer;
}
.modal_header {
	padding: 20px;
	background-color: #333;
	color: #fff;
}

.modal_header h4 {
	color: #ffffff;
	margin: 0;
	font-size: 18px;
	width: 100%;
}

.modal_body {
	padding: 30px;
}

/* modal animation */
@-webkit-keyframes slideIn {
	from {top: -300px; opacity: 0}
	to {top: 0; opacity: 1}
}
@keyframes slideIn {
	from {top: -300px; opacity: 0}
	to {top: 0; opacity: 1}
}

.grade_input {
	padding: 5px;
	border: 1px solid #808080;
	border-radius: 5px;
	width: 80px;
}

.grade_input::-webkit-outer-spin-button,
.grade_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* form * required sign */
.required_sign {
	color: #ff0000;
	font-weight: bold;
}

/********* Health Declaration Area **************/
.health_df_cont {
	font-family: arial;
	width: 80%;
	border: 2px solid black;
	float: left;
	margin: 2% 10%;
	overflow-y: auto;
}

.health_df_header {
	align-items: center;
	align-content: center;
	display: flex;
  	justify-content: space-evenly;
  	padding: 20px;
  	text-align: center;
}

.health_df_header img {
	width: 70px;
	height: 70px;
}

.health_df_header h1 {
	font-size: 18px;
	font-weight: 700;
}

.health_df_header h2 {
	font-size: 16px;
}

.health_df_header h3 {
	font-size: 14px;
	font-weight: 600;
}

.health_df_cont p {
	font-size: 12px;
}

.health_df_input {
	display: flex;
	padding-right: 5%;
	align-items: center;
}

.health_df_input input {
	border: 0;
  	outline: 0;
  	background: transparent;
  	border-bottom: 1px solid black;
  	width: 100%;
  	margin-bottom: 2px;
  	margin-left: 2px;
  	font-size: 12px;
}

.health_df_input label {
	white-space: nowrap;
	font-size: 12px;
	margin: 0;
}

.health_df_student_info {
	padding: 20px;
}

.health_df_student_info p {
	margin: 10px 0;
}

.health_df_input_purpose {
	padding: 0 30px;
}

.health_df_input_purpose p {
	padding: 0;
}

.health_df_input_purpose label, .health_df_input_purpose input {
	font-size: 12px;
	margin: 0;
}


.purpose_input {
	display: flex;
	padding-right: 5%;
	align-items: center;
}

.purpose_input input {
	border: 0;
  	outline: 0;
  	background: transparent;
  	border-bottom: 1px solid black;
  	font-size: 12px;
}

.purpose_input label {
	white-space: nowrap;
	font-size: 12px;
	margin: 0 10px;
}

.temp_cont h1 {
	font-size: 18px;
	font-weight: 700;
}

.temp_cont p {
	 font-size: 12px;
	 margin: 0;
}

.temp_box {
	width: 100px;
	height: 100px;
	border: 2px solid black;
}

.illness_section{
	margin: 5px;
}

.illness_section table, .illness_section td, .illness_section tr {
	border: 1px solid black;
	border-collapse: collapse;
}

.illness_section table tr td {
	padding: 5px 10px;
}

.illness_section table tr td p {
	width: 250px;
}

.illness_section table tr td input {
	border: 0;
  	outline: 0;
  	background: transparent;
  	border-bottom: 1px solid black;
  	margin-bottom: 2px;
  	margin-left: 2px;
  	font-size: 12px;
}

.health_df_confirmation {
	font-size: 14px;
	text-align: center;
}

.custom_breakline {
	width: 250px;
	border-bottom: 2px solid black;
	text-align: center;
	margin: auto;
}

.health_df_confirmation h4 {
	font-size: 14px;
	text-align: center;
	margin: 5px;
}



/********* Commitment of Undertaking Area **************/
.com_undertake_cont {
	font-family: arial;
	width: 80%;
	border: 2px solid black;
	float: left;
	margin: 2% 10%;
}

.com_undertake_header {
	align-items: center;
	align-content: center;
	display: flex;
  	justify-content: space-evenly;
  	padding: 20px;
  	text-align: center;
}

.com_undertake_header img {
	width: 70px;
	height: 70px;
	margin-top: -40px;
}

.com_undertake_header h1 {
	font-size: 18px;
	font-weight: 700;
}

.com_undertake_header h2 {
	font-size: 16px;
	font-weight: 700;
	margin-top: 20px;
}

.com_undertake_header h3 {
	font-size: 10px;
	font-weight: 800;
}

.com_undertake_cont p {
	font-size: 12px;
}

.dos_section {
	margin-left: 2%;
	width: 95%;
}

.dos_section h1 {
	font-size: 14px;
	font-weight: 700;
}

.dos_section ol {
	margin-left: 15px;
}

.dos_section li {
	margin: 0;
	line-height: 20px;
	font-size: 12px;
}

.donts_section {
	margin-left: 2%;
	width: 95%;
}

.donts_section h1 {
	margin-top: 20px;
	font-size: 14px;
	font-weight: 700;
}

.donts_section ol {
	margin-left: 15px;
}

.donts_section li {
	margin: 0;
	line-height: 20px;
	font-size: 12px;
}

.donts_section table {
	margin-left: 5%;
}

.donts_section td {
	width: 300px;
	margin-right: 20px;
}

.com_undertake_confirmation {
	margin-top: 50px;
	float: right;
	font-size: 14px;
	text-align: center;
}

.com_undertake_confirmation h4 {
	font-size: 14px;
	text-align: center;
	margin: 5px;
}

/********* Certificate of Concent Area **************/
.cert_consent_cont {
	width: 80%;
	border: 2px solid black;
	float: left;
	margin: 2% 10%;
}

.cert_consent_header {
	align-items: center;
	align-content: center;
	display: flex;
  	justify-content: space-evenly;
  	padding: 20px;
  	text-align: center;
}

.cert_consent_header img {
	width: 70px;
	height: 70px;
	margin-top: -40px;
}

.cert_consent_header h1 {
	font-size: 18px;
	font-weight: 700;
}

.cert_consent_header h2 {
	font-size: 16px;
	font-weight: 700;
	margin-top: 20px;
}

.cert_consent_header h3 {
	font-size: 10px;
	font-weight: 800;
}

.cert_consent_cont p {
	font-size: 14px;
}

.cert_content_section {
	margin-left: 2%;
	width: 95%;
}

.cert_content_section h1 {
	font-size: 14px;
	font-weight: 700;
}

.cert_content_section ol {
	margin-left: 15px;
}

.cert_content_section li {
	margin: 0;
	line-height: 20px;
	font-size: 14px;
	margin-bottom: 10px;
}

.com_undertake_confirmation {
	margin-top: 50px;
	float: right;
	font-size: 14px;
	text-align: center;
}

.com_undertake_confirmation h4 {
	font-size: 14px;
	text-align: center;
	margin: 5px;
}

.cert_content_section label{
	margin: 0;
}